body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    background-color: black;
    padding: 20px 0;
}

.logo h1 {
    font-size: 40px;
    letter-spacing: 5px;
    margin: 0;
    font-weight: normal;
}

.logo p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #ccc;
    margin: 5px 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    border-top: 1px solid #333;
    padding-top: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    
}

.hero img {
    width: 100%;
    height: auto;
}
.kopiko-about {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    line-height: 1.6;
}

.kopiko-about p {
    font-size: 18px;
    font-weight: 500;
    color: #888;
    margin-bottom: 20px;
}

.kopiko-about p strong {
    color: #999;
    font-weight: 600;
}
.coffee-image {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 40px 0;
}

.coffee-image img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
}
footer {
    background-color: #000;
    text-align: center;
    padding: 40px 20px;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin: 0 15px;
    display: inline-block;
}

footer a {
    color: #ccc;
    text-decoration: none;
}
footer p {
    font-size: 0.9rem;
    color: #888;
}

